<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
		<style type="text/css">
		pre {
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
	        }
		</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#id_country").change(function() {
					$(".meps").each(function() {
						$(this).hide();
					});
					$("#"+$(this).val()).show();
					console.log($(this).val());
				});
			});
		</script>
	</head>
	<body>
		<p>
		<h2>
			Send an email to all of your country's European Parliament representatives, encouraging them to sign the <a href=http://www.worldhorsewelfare.org/help-tomorrow/long-distance-transportation>Written Declaration 54/2009</a>.
			<br> It takes under a minute.
		</h2>
		</p>

		You need to have a <a href="https://www.google.com/accounts">Google account</a> (having GMail is enough) and will be asked to sign in.
		<h3>
			Step 1: Pick the country<br>
			Step 2: Fill in your name to be used in the email signature<br>
			Step 3: Press the Send button.<br>
		</h3>
		<form action='/mail' method='get'>
			{{ form.as_p }}
			<label>Full Name</label>
			<input type='text' name='username' value=''>
			<br>
			<br>
			<br>
			<input type='submit' value='Send'>
		</form>
		<h3>
			Afterwards you will see the emails sent in your Gmail account sent to these members of the European PAriliament. <br><br>
		</h3>
		<div id='mep'>
			{% for ctry in meps.items %}
			<div class='meps' id='{{ctry.0}}' style='display:none'>
				{% for m in ctry.1 %}
				{{ m }}<br>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</body>
</html>
